# Files created by emacs and packages.
*~
.DS_Store
.lsp-session*
.cache
elpa
projects
smex-items
url
games
transient
eshell
server
tramp
.fslckout
.fossil-settings/

# Files created by me (directly or indirectly)
config.el
custom.el
local-init.el